@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap'); /*font-family: 'Silkscreen', cursive;*/ 

* {
    font-family: Sans-Serif;
}

body {
    height: 100vh;
    background-image: url('../images/giphy.gif');
}

.content {
    width: 100%;
    max-width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 5px solid #FB5607;
    box-shadow: 10px 10px 0px #FFBE0B;
    border-radius: 20px;
    backdrop-filter: blur(18px);
    background-color: #00000050;
    padding: 20px;
    box-sizing: border-box;
}

.titulo {
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 20px;
    color: #FB5607;
    text-shadow: 5px 5px 0px #FFBE0B;
    font-family: 'Silkscreen', cursive;
    font-weight: 700;
    font-size: 3rem;
}

.label-input-nickname {
    width: 80%;
    text-align: left;
    font-size: 1.3rem;
    color: #FB5607;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-nickname {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #00000052;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    border: 1px solid #FFBE0B;
    border-radius: 10px;
}

.button-play {
    margin: 10px;
    width: 80%;
    background-color: #FB5607;
    box-shadow: 0px 8px 0px #FFBE0B;
    font-size: 1.3rem;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    transition: 200ms;
}
.button-play:active {
    transform: translate(0, 8px);
    box-shadow: 0px 0px 0px #00000000;
}

.button-play:disabled {
    filter: grayscale(100%);
}