/*  Reset style*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: sans-serif;
}


.content {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 1px #bbb;
    border-radius: 9px;
    margin: 20px auto;
}

.img-logo {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 8px;
}

h1 {
    font-size: 2em;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-text {
    border: 1px solid #bbb;
    border-radius: 9px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin:  0 auto;
}

.btn-play {
    border: 1px solid #bbb;
    border-radius: 9px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin:  0 auto;
    background-color: orange;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}
.btn-play:disabled {
    background-color: #bbb;

}